<!DOCTYPE html>
<html>
<head> 
	<title>Chơi Ca Rô</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="app-url" content="<%= process.env.APP_URL %>" />
	<meta name="app-port" content="<%= process.env.PORT %>">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="jquery.js"></script> 
</head>
<body>
	<div class="header">
		<div class="box-title">
			<h1>Caro <img src='19.gif'> <img src='31.gif'></h1>
		</div>
	</div>
	<div class="container">
		<div class="fb-login">
			<a href="/fb-login"><button class="fb-login-btn-left"><i class="fa fa-facebook"></i></button><button class="fb-login-btn-right">Đăng nhập bằng Facebook</button></a>
		</div>
	</div>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>