*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("https://st.quantrimang.com/photos/image/2018/03/06/danh-co-caro-640.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 1240px;
	margin: 0 auto;
}
.header{
	position: relative;
}
.box-title{
	width: 50%;
	height: 100px;
	background: #d0f5ff;
	border-radius: 5px;
	margin: 20px auto;
	position: relative;
	border: 2px solid #3198ca;
}
.box-title h1{
	color: #328014;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid;
}
.cell {
	width:30px;
	height:30px;
	text-align:center;
	cursor: pointer;
}
.cell.mark-win{
	background: pink;
}
.flex{
	display: flex;
	flex-wrap: nowrap;
}
.play-area{
	width: 50%;
}
.play-area .option{
	display: flex;
	flex-wrap: nowrap;
	width: max-content;
	background: #d0f5fd;
	border-radius: 3px 3px 0 0;
	border: 2px solid #3298cb;
	border-bottom: 0;
	margin: 0 auto;
}
.play-area .option > div{
	padding: 5px;
}
.play-area .option p,.play-area input{
	line-height: 25px;	
}
.roomId input{
	border-radius: 5px;
	border: 1px solid #d0d0d0;	
}
.play-area .option button{
	line-height: 25px;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	padding: 0 5px;
	font-weight: bold;
	color: #ffffff;
}
.request-draw button{
	background: #4c925a;
	box-shadow: 0 0 10px 2px #164a26 inset;
}
.request-lose button{
	background: #cc6262;
	box-shadow: 0 0 10px 2px #bf2222 inset;
}
.table{
	position: relative;
	width: max-content;
	margin: 0 auto;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #519e5ca1;
}
.overlay-text{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%,-50%);
	font-size: 35px;
	color: #307508;
	font-weight: bold;
}
.table table{
	border: 2px solid #3198ca;
	margin: 0 auto;
}

.users{
	width: 25%;
	padding: 20px 50px;
	box-sizing: border-box;
}
.user{
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
	text-align: center;
	border: 2px solid #3198cb;
	background: #e6fdff;
	border-radius: 10px;
	position: relative;
}
.user img.user-avatar{
	width: 100px;
	height: 100px;
	border: 1px solid #a0ffa3;
}
.user .user-username{
	padding-bottom: 3px;
	font-weight: bold;
	color: #38820c;
}
.player-signal{
	position: absolute;
	top: 6px;
	left: 6px;
	z-index: 2;
}
.player-ready-btn{
	padding: 15px 45px;
	font-size: 25px;
	background: #8cffa7;
	color: #087d08;
	font-weight: bold;
	border-radius: 3px;
	border: none;
	box-shadow: 0 0 30px -1px #1bd832 inset;
	transition: all 0.5s;
	cursor: pointer;
	animation: readyButton 1s ease-in infinite;
}

.player-ready-btn:hover{
	box-shadow: 0 0 30px -1px #088a18 inset;
}

.chat{
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}
#msg {
	color:red;
	font-size:24pt;
}
#state {
	width:500px;
	height:100px;
	color:green;
	overflow:auto;
	border:black solid 1px;
}
.countdowntimer{
	margin: 0 60px;
	text-align: center;
}
.countdowntimer-circle{
	background: #b8ffc6;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	position: relative;
	border: 4px solid #3298cb;
}
#countdown-sec{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 30px;
	color: green;
	font-weight: bold;
	font-family: sans-serif;
}
#ms_timer{
	border:2px solid;
	border-radius:0;
	text-align: center;
}
.chat-box{
	background: #70e2ea;
	border-radius: 5px;
	border: 2px solid #3198ca;
	overflow:hidden;
}
.list-message{
	height: 400px;
	padding: 10px;
	box-sizing: border-box;
	overflow-y: auto;
	position: relative;
}
.message-item{
	padding: 10px 0;
}
.message-item .name{
	font-size: 12px;
	color: #585a5a;
}
.message-item span{
	padding: 5px;
	border-radius: 5px;
	background: #c4fff8;
	display: inline-block;
}
.message-item.owner{
	text-align: right;
}
.input-field{
	height: 30px;
	display: flex;
	flex-wrap: nowrap;
}
.input-field input{
	line-height: 30px;
	width: 100%;
	border: none;
	padding-left: 5px;
}
.input-field button{
	height: 30px;
	width: 50px;
	color: blue;
	background: #f1feff;
	border: none;
	cursor: pointer;
}
input:focus, button:focus{
	outline: none;
}

@keyframes readyButton{
	50%{
		font-size: 35px;
	}
	100%{
		font-size: 25px;
	}
}



@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.rainbow-border {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
}
.rainbow-border::before {
	content: '';
	position: absolute;
	z-index: -2;
	left: -50%;
	top: -50%;
	width: 200%;
	height: 200%;
	background-color: #399953;
	background-repeat: no-repeat;
	background-size: 50% 50%, 50% 50%;
	background-position: 0 0, 100% 0, 100% 100%, 0 100%;
	background-image: linear-gradient(#33ff00, #48b164), linear-gradient(#d53e33, #ca9512), linear-gradient(#ef5a4f, #0898ff), linear-gradient(#399953, #377af5);
	animation: rotate 4s linear infinite;
}
.rainbow-border::after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 6px;
	top: 6px;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	background: white;
	border-radius: 5px;
}

.mswal-result{
	position: absolute;
	top: -100%;
	transform: translateY(-50%);
	left: 35px;
	z-index: 2;
	width: 22%;
	height: auto;
	background: #7ffcff;
	font-size: 40px;
	text-align: center;
	color: #901717;
	border-radius: 5px;
	font-weight: bold;
	border: 2px solid #3198cb;
	box-sizing: border-box;
}
.mswal-title{
	margin: 15px;
}
.mswal-alert-win .mswal-title{
	color: #ff5600;
}
.mswal-alert-lose .mswal-title{
	color: #9c735f;
}
.mswal-alert-draw .mswal-title{
	color: #1d981d;
}



@keyframes scaleAnimation {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes drawCircle {
	0% {
		stroke-dashoffset: $circle-length;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes drawCheck {
	0% {
		stroke-dashoffset: $check-length;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#successAnimationCircle {
	stroke-dasharray: $circle-length $circle-length;
	stroke: #FFF;
}

#successAnimationCheck {
	stroke-dasharray: $check-length $check-length;
	stroke: #FFF;
}

#successAnimationResult {
	fill: #5dce5a;
	opacity: 0;
}

.successAnimation{
	display: none;
	position: absolute;
	animation: 0.5s ease-out 0s 1 both scaleAnimation;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.successAnimation #successAnimationCircle {
	animation: 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
	0.3s linear 0.5s 1 both fadeOut;
}

.successAnimation #successAnimationCheck {
	animation: 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
	0.1s linear 0.5s 1 both fadeOut;
}

.successAnimation #successAnimationResult {
	animation: 0.1s linear 0.3s both fadeIn;
}



.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-ellipsis div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #294618;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 6px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 6px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 26px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 45px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}









.container{
	margin: 0 auto;
	text-align: center;
}
.fb-login a{
	display: inline-block;
	border: 1px solid #6197e8;
	border-radius: 5px;
}
.fb-login button.fb-login-btn-right{
	font-size: 14px;
	background: #4267b2;
	color: #ffffff;
	border-radius:0 5px 5px 0;
	font-family: Roboto,sans-serif;
	width: 260px;
	height: 50px;
	cursor: pointer;
	border: none;
}
.fb-login button.fb-login-btn-left{
	font-size: 14px;
	background: #ffffff;
	color: #4267b2;
	border-radius:5px 0 0 5px;
	font-family: Roboto,sans-serif;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: none;	
}
